body {
    background-color: white;
    font-family: 'Pontano Sans';
}
.shlReusable-marginBottom-0 {
    margin-bottom: 0px;
}
.shlReusable-font-cursive {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}
.shlReusable-marginBottom-2 {
    margin-bottom: 2%;
}
.shlReusable-fontSize-18 {
    font-size: 18px;
}
.shlReusable-navPills-border {
    border-bottom: 1px solid #000;
}
.shlReusable-marginTop-2 {
    margin-top: 2%;
}
.shlBlog-footer {
    background-color: #eeeeee;
    padding: 1%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #000;
    background: none;
    border-radius: 0;
    border-bottom: #607d8b solid 3px;
}
.nav>li>a, .nav>li>a:hover {
    color: #000;
    border-radius: 0;
}