.ShlJumbotron {
    text-align: center;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-family: Belleza;
}
.ShlJumbotron h2 {
    color: rgb(71,72,75);
}
.ShlJumbotron h2:hover {
    color: #51b3c2;
}
.ShlJumbotron h3 {
    text-decoration: none;
    color: grey;
    font-size: 18px;
}
.ShlJumbotron h3:hover {
    color: #51b3c2;
}
.ShlJumbotron a {
	text-decoration: none;
	color: grey;
	font-size: 18px;
}
.ShlJumbotron p {
	font-size: 18px;
}
.ShlJumbotron a:hover {
    color: black;
}
.ShlJumbotron h4 {
	color: #746767;
}
.ShlPicture {
    text-align: center;
    margin-top: 5%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
.container {
    font-family: Belleza;
    font-size: 35px;
}
.footer {
	font-family: Belleza;
	text-align: center;
	color: #746767;
    font-size: 15px;
}
.align-center{
    text-align: center;
}
.margin-bottom-1 {
    margin-bottom: 1%;
}
.margin-top-5 {
    margin-top: 5%;
}
