<md-content>
    <div layout="column" layout-gt-xs="row">
        <md-card flex flex-gt-xs="60">
            <video-player></video-player>
        </md-card>
        <md-card flex class="marginL-1" hide-xs>
            <module-list></module-list>
        </md-card>
    </div>
</md-content>
<md-content>
    <div layout="row" layout-xs="column">
        <md-card flex flex-gt-xs="60">
            <module-desc></module-desc>
        </md-card>
        <md-card flex class="marginL-1">
            <mentor></mentor>
        </md-card>
    </div>
</md-content>
