/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/*  Author: Sahil Babbar 
/*  Last Updated at 17 Jan 2018 03:27 
/*  Version v1.0
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

/* Note: Following styles are alphabetically arranged

/* --------------------Accordion-------------------- */
.custom-accordion {
    display: flex;
    flex-direction: column;
}
.custom-accordion:focus {
    outline: none !important;
}
.accordion-head {
    align-items: center;
    background-color: #444444;
    border: 1px solid #444444;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7vh; 
    padding: 1.5vh;
}
.progress-bar {
    align-self: flex-end;
    color: red;
}
.module-name {
    width: 50vh;
}
md-progress-linear {
    height: 10px;
    width: 50vh;
}
md-progress-linear .md-container .md-bar {
    height: 10px;
}
md-progress-linear .md-container {
    height: 10px;
}
.sub-item {
    align-items: center;
    justify-content: space-between;
    background-color: #1C2023;
    color: #fff;
    display: flex;
    padding: 0.7vh;
}
.sub-item div:nth-child(2) {
    font-size: 15px;
}
.sub-item div:nth-child(3) {
    color: #808080;
    font-size: 13px;
}
.md-button {
    text-transform: capitalize;
}
.font-wt-500 {
    font-weight: 500;
}
.md-title {
    font-size: 15px;
    font-weight: 600;
}
.md-subhead {
    color: #fff !important;
    text-transform: capitalize;
}
/* --------------------Background Styles-------------------- */
.bg-aztec {
    background-color: #293134 !important;
}
/* --------------------Button Styles-------------------- */
.btn-dialog {
    background-color: #293134;
    border-radius: 20px;
}
.custom-button {
    border: 1px solid #ddd !important;
    border-radius: 10px !important;
    color: #808080;
    padding: 0 2vh 0 2vh;
}
/* --------------------Card Styles-------------------- */
.custom-header {
    align-items: center;
    background-color: #444444;
    border-left: 5px solid #00C6E1;
    color: #fff;
    text-transform: uppercase;
    height: 4.7vh;
}
md-card {
    margin: 0;
    background-color: #1C2023;
    border-color: #444444;
    border-radius: 0;
    color: #fff;
}
/* --------------------Color Styles-------------------- */
body {
    background-color: #1C2023;
}
.color-ac {
    color: #00C6E1;
}
.color-80 {
    color: #808080;
}
.color-0 {
    color: #000 !important;
}
.bg-p {
    background-color: #1C2023 !important;
}
.bg-ac {
    background-color: #17c6e2 !important;
}
.md-progress-linear.md-default-theme .md-bar, md-progress-linear .md-bar {
    background-color: #8FDC6E !important;
}
md-progress-linear.md-default-theme .md-container, md-progress-linear .md-container {
    background-color: #DEE0EA;
}
/* --------------------Dialog-------------------- */
md-dialog {
    background-color: #1C2023;
    color: #fff !important;
}
/* --------------------Font/Text Styles-------------------- */
.fontW-b {
    font-weight: bold !important;
}
.font_serif {
    font-family: serif;
}
.text-center {
    text-align: center;
}
.txtTrans-u {
    text-transform: uppercase;
}
.textTrans-l {
    text-transform: lowercase;
}
/* --------------------Footer Styles-------------------- */
ed-footer div p {
    background-color: #1C2023; 
    color: #afafaf;
    font-size: 12px;
    margin: 0;
    padding-bottom: 1vh;
}
/* --------------------Margin Styles-------------------- */
.marginB-0 {
    margin-bottom: 0;
}
.marginL-1 {
    margin-left: 1px;
}
.margin-right_2 {
    margin-right: 2vh;
}
@media only screen and (max-width: 600px) {
    .marginL-1 {
        margin-left: 0;
    }
}
/* --------------------Navbar Styles-------------------- */
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: #fff !important;
    color: #000 !important;
}
/* --------------------Padding Styles-------------------- */
.padd-0 {
    padding: 0 !important;
}
.paddL-2 {
    padding-left: 2vh;
}
/* --------------------Positioning Styles-------------------- */
.dp-flex {
    display: flex;
}
/* --------------------Side Nav-------------------- */
md-sidenav {
    background-color: #1C2023;
}
/* --------------------User Profile Styles-------------------- */
.user-profile {
    align-items: center;
    text-align: center;
}
.user-image {
    width: 10vh;
    border-radius: 50%;
}
.user-bio {
    font-size: 14px;
    font-weight: 400 !important;
    margin-top: 0;
}
/* --------------------Video Player-------------------- */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}