<div ng-controller="navigationCtrl">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" hide-gt-xs>
                <i class="material-icons color-ac">&#xE5C3;</i>
            </md-button>
            <h2 flex md-truncate hide-xs>
                <strong>ed</strong><span class="font_serif">Wisor</span>
            </h2>
            <md-button class="custom-button" aria-label="Skill Score" hide-xs>
                Skill Score - 140
            </md-button>
            <md-button class="custom-button dp-flex" aria-label="Stage Name" hide-xs>
                Stage - &nbsp;<span class="color-0">Learning</span>
                <img src="common/icons/badge.png">
            </md-button>
            <md-menu>
                <md-button aria-label="User Menu" ng-click="openUserMenu($mdMenu, $event)" hide-xs>
                    <md-icon md-svg-src="common/images/user.svg" alt="User"></md-icon>
                    <span class="color-80">Kartik</span>
                    <img src="common/icons/dropdown.png">
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button>
                            <md-icon class="material-icons">&#xE6E1;</md-icon>
                            Dashboard
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button>
                            <md-icon class="material-icons">&#xE853;</md-icon>
                            Profile
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="ctrl.toggleNotifications()">
                            <md-icon class="material-icons">&#xE0B0;</md-icon>
                            Video Call Mentor
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-button ng-click="toggleRight()" class="md-icon-button color-ac" aria-label="Right Side Navigation" hide-gt-xs>
                <i class="material-icons">&#xE5D2;</i>
            </md-button>
        </div>
    </md-toolbar>
    <right-side-navigation></right-side-navigation>
</div>