<md-card-header class="custom-header card-header-height">
    <md-card-header-text>
        <span class="md-title">Module Description</span>
    </md-card-header-text>
</md-card-header>
<md-card-content>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet necessitatibus beatae non accusamus unde quia, perspiciatis
        cupiditate! Sunt ullam amet illum architecto dolorum et aperiam accusamus? At libero obcaecati recusandae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet necessitatibus beatae non accusamus unde quia, perspiciatis
        cupiditate! Sunt ullam amet illum architecto dolorum et aperiam accusamus? At libero obcaecati recusandae.
        <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet necessitatibus beatae non accusamus unde quia, perspiciatis
        cupiditate! Sunt ullam amet illum architecto dolorum et aperiam accusamus? At libero obcaecati recusandae.
    </p>
</md-card-content>