html {
    position: relative;
    min-height: 100%;
}
body {
    background: #fff !important;
    margin-bottom: 123px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 123px;
}
.shlRe-mrgB0 {
    margin-bottom: 0;
}
.shlRe-mrgT5 {
    margin-top: 5%;
}
.shlRe-mrgR1 {
    margin-right: 1%;
}
.shlRe-mrgT3 {
    margin-top: 3%;
}
.shlRe-mrgB5 {
    margin-bottom: 5%;
}
.shlRe-padL3 {
    padding-left: 3%;
}
.shlRe-padL8 {
    padding-left: 8%;
}
.shlRe-pHr {
    color: #607d8b;
    background: #607d8b;
    border: 5px solid;
    margin-bottom: 0;
    padding-bottom: 0;
}
.shlRe-green {
    color: #23c8a1;
}
.shlRe-inlineBk {
    display: inline-block;
}
.shlRe-noDeco {
    color: #000;
}
.shlRe-noDeco:hover {
    color: #607d8b;
    text-decoration: none;
}
.shlRe-cursive {
    font-family: 'Parisienne', cursive;
    font-size: 28px !important;
}
.shlRe-font20 {
    font-size: 20px !important;
}
