<div layout="column" layout-align="center center">
    <h3 class="md-display-2 sFtWt1">Blog</h3>
    <md-content class="md-padding">
        <md-card flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Introduction to JavaScript</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>
                    This is a detailed tour of JavaScript beginning from scratch. This article should help newbies and folks who want to refresh their JS concepts.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ui-sref="introToJs">Read</md-button>
            </md-card-actions>
        </md-card>
    </md-content>
</div>
