<div class = 'shl-header'>
    <div class = 'container'>
        <h1>Home</h1>
    </div>
</div>
<div class = 'container'>
    <div class = 'shlRe-mrgT5'>
        <div class = 'text-center shlRe-mrgB5'>
            <img src = 'img/img-1.jpeg' class = 'img-rounded' width = '200' height = '200'>
            <h3>Sahil Babbar</h3>
            <p>
                CSE Undergraduate, IIIT-Delhi<br>
                Technical Lead, SSS<br>
                Technologist, Aashansh
            </p>
            <p>
                <a class = 'shlRe-mrgR1' href = '//www.in.linkedin.com/in/1sahilbabbar' target = '_blank'>
                    <img src = 'img/img-3.png'>
                </a>
                <a class = 'shlRe-mrgR1' href = '//www.github.com/sahilbabbar' target = '_blank'>
                    <img src = 'img/img-4.png'>
                </a>
                <a class = 'shlRe-mrgR1' href = '//www.researchgate.net/profile/Sahil_Babbar' target = '_blank'>
                    <img src = 'img/img-9.png'>
                </a>
                <a class = 'shlRe-mrgR1' href = '//www.stackoverflow.com/users/3676745/sahil-babbar' target = '_blank'>
                    <img src = 'img/img-5.png'>
                </a>
                <a class = 'shlRe-mrgR1' href = '//www.twitter.com/Sahil_Babbar_' target = '_blank'>
                    <img src = 'img/img-2.png'>
                </a>
                <a class = 'shlRe-mrgR1' href = 'mailto:sahilbabbar@live.com' target = '_blank'>
                    <img src = 'img/img-7.png'>
                </a>

            </p>
        </div>
        <p class = 'lead'>
            Sahil, is an undergraduate student at Indraprastha Institute of Information Technology, Delhi(India) or IIIT-D at the Department of Computer Science Engineering. He is one of the founding members of Systematic System Solutions Private Limited, also known as SSS, which is an Enterprise Technology Startup dealing in Software, Infrastructure, Financial and Industrial Training Solutions and Services.
        </p>
        <p class = 'lead'>
            He enjoys building things with an intention to solve problems for good. Over the past few years, he has gained interest in Entrepreneurship, Software Engineering & Development, Internet of Things, Cloud Technology, Software Development Frameworks, Cyber Security, Networks.
        </p>
    </div>
</div>
