<div class = 'shl-header'>
    <div class = 'container'>
        <h1>Projects</h1>
    </div>
</div>
<div class = 'container'>
    <div class = 'shlRe-mrgT5'>
        <p>
            Presently, most of my work is closed source that is done under enterprises, so they cannot be disclosed here
            but few of the projects manage their way to OSS world. These projects are a result of a lot of unseen forces
            and few seen forces like team contribution, community support, family support, pal synergies. Few small pieces
            of code and practices, keep on growing up in my <a href = '//www.github.com/sahilbabbar'>GitHub account</a>
            which are not listed below. <br>
        </p>
        <div class = 'row shlRe-mrgT3'>
            <div class = 'col-lg-4 col-md-4 col-sm-12'>
                <div class = 'panel panel-default'>
                    <div class = 'panel-body'>
                        <a href = '//www.researchgate.net/publication/311418752_Attacks_on_RFID_Technology' class = 'shlRe-noDeco' target = '_blank'>
                            <img src = 'img/img-17.png' class = 'shlRe-inlineBk'>
                            &nbsp;<h4 class = 'shlRe-inlineBk'>Attacks on RFID Technology</h4>
                        </a>
                        <hr>
                        <p>
                            A technical report on attacks on RFID technology which touches upon the basics of RFID along
                            with aspects of security and privacy vulnerabilities along with its design, architecture and
                            cryptology of the technology that is used by almost every corporate, government and institution.<br>
                            <strong>Status:</strong> First Version Completed<br>
                            <strong>Team:</strong> 1
                        </p>
                    </div>
                </div>
            </div>
            <div class = 'col-lg-4 col-md-4 col-sm-12'>
                <div class = 'panel panel-default'>
                    <div class = 'panel-body'>
                        <img src = 'img/img-18.png' class = 'shlRe-inlineBk'>
                        &nbsp;<h4 class = 'shlRe-inlineBk'>eCommerce Stencil</h4>
                        <hr>
                        <p>
                            At SSS, an eCommerce portal has been built specifically for small-scale businesses and enterprises,
                            which can be customised according to their requirements. Stencil stands firm on the technology stack
                            consisting of AngularJS, Bootstrap Material Design, Spring MVC, MySQL; which makes it a one-of-its-kind
                            eCommerce software.<br>
                            <strong>Status:</strong> Version 2.0 in Production<br>
                            <strong>Team:</strong> 4
                        </p>
                    </div>
                </div>
            </div>
            <div class = 'col-lg-4 col-md-4 col-sm-12'>
                <div class = 'panel panel-default'>
                    <div class = 'panel-body'>
                        <img src = 'img/img-18.png' class = 'shlRe-inlineBk'>
                        &nbsp;<h4 class = 'shlRe-inlineBk'>HydroFlux</h4>
                        <hr>
                        <p>
                            HydroFlux is an IoT project with the aim to completely automate the mundane routine of filling the
                            water tank of a household or any complex by leveraging the power of Internet of Things. Raspberry Pi,
                            Ionic mobile app and IBM's IoT server architecture are being used to accomplish the objective.<br>
                            <strong>Status:</strong> Under Development<br>
                            <strong>Team:</strong> 1
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'col-lg-4 col-md-4 col-sm-12'>
                <div class = 'panel panel-default'>
                    <div class = 'panel-body'>
                        <img src = 'img/img-18.png' class = 'shlRe-inlineBk'>
                        &nbsp;<h4 class = 'shlRe-inlineBk'>Laud</h4>
                        <hr>
                        <p>
                            Laud is a cross-platform mobile application built on top of Ionic Framework that makes the volunteering
                            experience seamless and transparent in any type of organisation and society. Laud is planned to be
                            launched in December 2016.<br>
                            <strong>Status:</strong> Under Development<br>
                            <strong>Team:</strong> 2
                        </p>
                    </div>
                </div>
            </div>
            <div class = 'col-lg-4 col-md-4 col-sm-12'>
                <div class = 'panel panel-default'>
                    <div class = 'panel-body'>
                        <a href = '//github.com/sahilbabbar/Shift-Home' class = 'shlRe-noDeco' target = '_blank'>
                            <img src = 'img/img-16.png' class = 'shlRe-inlineBk'>
                            &nbsp;<h4 class = 'shlRe-inlineBk'>ShiftHome</h4>
                        </a>
                        <hr>
                        <p>
                            ShiftHome was started with the motivation to solve the problem of shifting to a new place.
                            Thus, it aims to solve most of the problems faced by a regular citizen of India to make the
                            right choice and making the shifting process reliable and satisfactory<br>
                            <strong>Status:</strong> Under Development<br>
                            <strong>Team:</strong> 1
                        </p>
                    </div>
                </div>
            </div>
            <div class = 'col-lg-4 col-md-4 col-sm-12'>
                <div class = 'panel panel-default'>
                    <div class = 'panel-body'>
                        <img src = 'img/img-18.png' class = 'shlRe-inlineBk'>
                        &nbsp;<h4 class = 'shlRe-inlineBk'>Next Generation Voucher Server</h4>
                        <hr>
                        <p>
                            NGVS is an internal Ericsson software that serves companies like Vodafone. My role was to build
                            complete user interface, from ground-up, using Ericsson specific modular JavaScript framework and
                            guidelines; and also taking care of the user experience part of the overall software, in coordination
                            with the UX team.<br>
                            <strong>Status:</strong> Completed<br>
                            <strong>Team:</strong> 2
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class = 'row'>
            <div class = 'col-lg-4 col-md-4 col-sm-12'>
                <div class = 'panel panel-default'>
                    <div class = 'panel-body'>
                        <img src = 'img/img-18.png' class = 'shlRe-inlineBk'>
                        &nbsp;<h4 class = 'shlRe-inlineBk'>BookIIIT</h4>
                        <hr>
                        <p>
                            BookIIIT, pronounced as 'book it' is a Booking Management System, built by keeping
                            the requirements of my institute - IIIT-Delhi; which can be used to book classrooms,
                            hostel rooms, parking slots, meeting rooms. This software is built using Ruby on Rails,
                            Bootstrap Material Design and PostgreSQL.<br>
                            <strong>Status:</strong> Under Development<br>
                            <strong>Team:</strong> 2
                        </p>
                    </div>
                </div>
            </div>
            <div class = 'col-lg-4 col-md-4 col-sm-12'>
                <div class = 'panel panel-default'>
                    <div class = 'panel-body'>
                        <img src = 'img/img-18.png' class = 'shlRe-inlineBk'>
                        &nbsp;<h4 class = 'shlRe-inlineBk'>Job Management System</h4>
                        <hr>
                        <p>
                            JMS was the first application built at SSS, using J2EE, HTML5, CSS3, Bootstrap,
                            Material Design and JavaScript. My role in this project was to built the whole user interface and user
                            experience using the above mentioned technologies and following Agile methodology with our clients and
                            team. This project was also responsible for laying the foundation and setting UI/UX standards in SSS.
                            This opportunity was leveraged to also design Agile workflows which were later taken up as Organisation
                            Workflows at SSS.<br>
                            <strong>Status:</strong> Version 2.0 in Production<br>
                            <strong>Team:</strong> 2
                        </p>
                    </div>
                </div>
            </div>
            <div class = 'col-lg-4 col-md-4 col-sm-12'>
                <div class = 'panel panel-default'>
                    <div class = 'panel-body'>
                        <a href = '//www.github.com/sahilbabbar/Tribute' class = 'shlRe-noDeco' target = '_blank'>
                            <img src = 'img/img-16.png' class = 'shlRe-inlineBk'>
                            &nbsp;<h4 class = 'shlRe-inlineBk'>Tribute</h4>
                        </a>
                        <hr>
                        <p>
                            A static bootstrap website made for my high school, because few of us friends didn't like
                            the old website's design, information and overall user experience. So, we decided to pay
                            a small tribute to our school in the form of this website. Even the photographs used in
                            this website are self-DSLR-clicked.<br>
                            <strong>Status:</strong> Completed (but not deployed)<br>
                            <strong>Team:</strong> 2
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
