<md-card-header class="custom-header card-header-height bg-aztec">
    <md-card-header-text>
        <span class="md-title">About The Mentor</span>
    </md-card-header-text>
</md-card-header>
<md-card-content layout-gt-xs="row">
    <md-list-item class="md-2-line" hide-gt-xs>
        <img src="common/images/misko.png" class="md-avatar" alt="User Profile" />
        <div class="md-list-item-text">
            <h4 class="color-ac fontW-b">Misko Hevery</h4>
            <p class="user-bio">10 Year Experience</p>
        </div>
        <md-button class="md-secondary md-icon-button md-fab md-mini bg-ac" aria-label="linkedin">
            <md-icon md-svg-src="common/icons/linkedin-logo.svg"></md-icon>
        </md-button>
    </md-list-item>
    <div class="user-profile" layout-xs="row" hide-xs>
        <div>
            <img src="common/images/misko.png" class="user-image">  
        </div>
        <div>
            <h4 class="color-ac marginB-0">Misko Hevery</h4>
            <p class="user-bio">10 Year Experience</p>
        </div>
        <div>
            <md-button class="md-fab md-mini bg-ac" aria-label="linkedin">
                <md-icon md-svg-src="common/icons/linkedin-logo.svg"></md-icon>
            </md-button>
        </div>
    </div>
    <div flex>
        <p class="paddL-2">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi corrupti laboriosam porro doloremque enim, 
            quaerat alias ipsam voluptas tempora harum fugit dicta, eligendi soluta. Consectetur sapiente deserunt ipsa molestiae id?
        </p>
    </div>
</md-card-content>