<md-dialog aria-label="Confirmation Dialog">
    <form ng-cloak>
        <md-toolbar style="background-color:#293134 !important; color:#fff !important;">
            <div class="md-toolbar-tools">
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">&#xE14C;</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content text-center">
                <h5>Are you sure want to start the Next MODULE?</h5>
            </div>
            <div class="text-center">
                <md-button class="btn-dialog">NO</md-button>
                <md-button class="btn-dialog">YES</md-button>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <small>
                <i>By Clicking "YES" next module will automatically play</i>
            </small>
        </md-dialog-actions>
    </form>
</md-dialog>