<md-card-header class="custom-header card-header-height bg-aztec" hide-xs>
    <md-card-header-text>
        <span class="md-title">Modules</span>
    </md-card-header-text>
</md-card-header>
<md-card-content>
    <div ng-controller="AccordionCtrl">
        <div ng-repeat="item in items" ng-click="accordion.current = item.name" class="custom-accordion">
            <div class="accordion-head">
                <div class="module-name font-wt-500">{{item.name | uppercase}}</div>
                <md-progress-linear md-mode="determinate" value="{{item.progress}}"></md-progress-linear>
            </div>
            <div ng-show="accordion.current == item.name">
                <div class="sub-item" ng-repeat="sub in item.sub">
                    <div>
                        <img ng-src="{{sub.icon}}">
                    </div>
                    <div>
                        {{sub.name | uppercase}}                        
                    </div>
                    <div>
                        {{sub.duration}}
                    </div>
                    <div>
                        <md-button aria-label="Stage Name" class="color-ac" ng-click="showDialog($event)">
                            <img src="common/icons/attachment.png">
                            Download Files
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-card-content>
